body {
  justify-content: space-evenly;
  background-color: #be8f3c;
  background-color: #be8f3c;
  opacity: 0.8;
  background-image: url(../img/food.svg);
  background-size: 200px 200px;
}

button {
  text-align: center;
}

img {
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  border: 2px solid #613d00;
}

.title {
  font-family: "Norse";
  text-align: center;
  background-color: orange;
  margin: auto 45vw;
  border-radius: 5px;
  border: 2px solid #613d00;
}

.title.recipes {
  font-family: "Norse";
  text-align: center;
  background-color: orange;
  margin: auto 45vw;
  border-radius: 5px;
  border: 2px solid #613d00;
}

section {
  display: flex;
  justify-content: center;
  margin: 10px auto;
}

.section.box {
  display: block;
  text-align: center;
  justify-content: center;
  margin: 10px auto;
}

.section.steps {
  background-color: lightgoldenrodyellow;
}

.description {
  background-color: orange;
  display: block;
  margin: auto 45vw;
  border-radius: 5px;
  border: 2px solid #613d00;
}

.steps {
  background-color: lightgoldenrodyellow;
  display: block;
  border-radius: 5px;
  border: 2px solid #613d00;
}

@font-face {
  font-family: Norse;
  src: url(../fonts/Norsebold.otf);
}
